.details-container {
  list-style-type: none;
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 30px 15px;
  width: 30%;
}

img {
  width: 50px;
  margin-right: 20px;
}

.balance-text {
  font-size: 12px;
  color: #7e858e;
  margin-bottom: 10px;
}

.balance {
  border: 1px solid #84cc16;
  background-color: #ecfccb;
}

.income {
  border: 1px solid #06b6d4;
  background-color: #cffafe;
}

.expense {
  border: 1px solid #7c3aed;
  background-color: #ede9fe;
}

@media (max-width: 576px) {
  .details-container {
    flex-direction: column;
  }
  .detail-item {
    width: 100%;
    margin: 10px 0;
  }
}
